$color-blue                     : #0064d2;
$color-light-blue               : #0F96CD;
$color-pink                     : #CE46A6;
$color-grey                     : #9d9ca1;
$color-green                    : #429d3f;
$color-yellow                   : #c8ae51;
